:root{
  --main: rgb(30, 8, 53);
  --fnt: white;
}
.body{
  margin-top: 1.5rem;
  background-color: var(--main);
  color:var(--fnt);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
p{
  margin-top: 1rem;
}
hr{
  background-color: var(--fnt);
  opacity: 70%;
}
.nav{

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.header{
  font-family:'Courier New', Courier, monospace;
  word-wrap: normal;
}
.logo{
  width:50%;
}
.menu{
  float: right;
  margin:0.5rem;
}
/* .menu button:hover{
  background-color: aqua;
} */
.btn-simple{
  background-color:var(--main);
  font-family: inherit;
  color: white!important;
}
.btn-simple:hover{

  text-decoration: underline;
  color: var(--fnt);
  text-underline-offset: 10px;
  text-decoration-color: rgb(239, 5, 83);
  border: none !important;
}
.img-quote{
  display: flex;
}
.quote{
  margin: 3rem 3rem 0 0;
  float: left;
  display: inline;
  font-size: 3rem;
  font-weight: bold;
  
}

.child{
  flex: 1;
  padding: 1rem 1rem;
}
.img-lg{
  margin: 1rem;
  border-radius:1rem;
  width: 100%;
  height: 20rem;
}

.subtitle{
  font-size:large;
  font-weight: lighter;
  word-wrap: normal;
  margin: 0 1rem 0 1rem;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-image: linear-gradient(to left,rgb(235, 10, 160),rgb(188, 0, 239)) !important;
  border-color: transparent !important;
  /* border-radius: 0.5rem !important; */
  color:var(--fnt) !important;
}
.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited{
  background-image: linear-gradient(to left,rgb(235, 10, 160),rgb(188, 0, 239)) !important;
  color: var(--fnt) !important;
  border-color: transparent !important;
  border-radius: 1rem !important;
  padding: 0.3rem 1rem 0.3rem 1rem;
} 
.more .btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited{
  width: 50%;
}
.round{
  border-radius: 50%;
}
